<?xml version="1.0"?>
<launch>
	<!--gazebo-->
	<include file="$(find robot_description)/launch/display_robot_gazebo.launch"/>
	<!--gmapping-->
	<include file="$(find robot_slam)/launch/gmapping.launch"/>
	<!--rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_slam)/rviz/gmapping.rviz" required="true"/>
</launch>
