<?xml version="1.0"?>
<launch>
	<!--gazebo-->
	<include file="$(find mbot_description)/launch/gazebo/display_mbot_gazebo.launch"/>
	<!--gmapping-->
	<include file="$(find mbot_description)/launch/gmapping.launch"/>
	<!--rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mbot_description)/config/gmapping.rviz" required="true" />

</launch>
