<?xml version="1.0"?>
<launch>
	<!--gazebo-->
	<include file="$(find robot_description)/launch/display_robot_gazebo.launch"/>

	<!--robot_pose_ekf-->
	<include file="$(find robot_pose_ekf)/launch/robot_pose_ekf.launch"/>
	
	<!--map_server-->
	<include file="$(find robot_navigation)/launch/map_server.launch"/>

	<!--move_base-->
	<include file="$(find robot_navigation)/launch/move_base.launch"/>

	<!--amcl-->
	<!-- <include file="$(find robot_navigation)/launch/amcl.launch"/> -->

	<!--ndt-->
	<!-- <include file="$(find ndt_localizer)/launch/ndt_localizer.launch"/> -->

	<!--rviz-->
  	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_navigation)/rviz/navigation.rviz"/> -->

</launch>
